# General ignores
Testing/
Model/model.h5
Enhance_btn/.ipynb_checkpoints/*
.idea/

/images/*
!/images/.gitkeep

Model/uploads/*
!Model/uploads/.gitkeep

# Ignore ALL images in these paths (recursive)
**/uploads/blured/*
!**/uploads/blured/.gitkeep

**/uploads/removedBackground/*
!**/uploads/removedBackground/.gitkeep

**/uploads/output/*
!**/uploads/output/.gitkeep

**/static/user_background/*
!**/static/user_background/.gitkeep

**/profile_pictures/*
!**/profile_pictures/.gitkeep

**/phone_wallpaper/*
!**/phone_wallpaper/.gitkeep

**/laptop_wallpaper/*
!**/laptop_wallpaper/.gitkeep

**/uploads/resize_by_x/*
!**/uploads/resize_by_x/.gitkeep

**/__pycache__

**/failures/*