body {
    font-family: sans-serif;
    background-color: #eeeeee;
}

.file-upload {
    background-color: #ffffff;
    width: auto;
    margin: 0 auto;
    padding: 20px;
    height: auto;
}

.file-upload-btn {
    width: 500px;
    margin: 0;
    color: #fff;
    background: #FFAA17;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #D58700;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.file-upload-btn:hover {
    background: #D58700;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
}

.btn-new {
    width: 500px;
    margin: 0;
    color: #fff;
    background: #16A3B8;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #128da0;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.btn-new:hover {
    background: #128da0 !important;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.btn-new:active {
    border: 0;
    transition: all .2s ease;
}

.file-upload-content {
    display: none;
    text-align: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap {
    margin-top: 20px;
    border: 4px dashed #FFAA17;
    position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
    background-color: #FFAA17;
    border: 4px dashed #ffffff;
}

.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}

.drag-text {
    text-align: center;
}

.drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #D58700;
    padding: 60px 0;
}

.file-upload-image {
    max-height: 500px;
    max-width: 500px;
    margin: auto;
    padding: 20px;
}

.remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.remove-image:active {
    border: 0;
    transition: all .2s ease;
}

.result {
    display: none;
}

.loader {
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #3498db; /* Blue */
    border-radius: 70%;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
    margin-left: 4%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
