<div class="container-fluid bg-dark text-white-50 py-5 px-sm-3 px-md-5" style="margin-top: 90px;">
    <div class="row pt-5">
        <div class="col-lg-4 col-md-6 mb-5">
            <a href="/" class="navbar-brand">
                <img height="100px" width="100px" src="{{ url_for('static', filename='icons/darkHA.png') }}" alt="">
            </a>
            <br>
            <p>Volup amet magna clita tempor. Tempor sea eos vero ipsum. Lorem lorem sit sed elitr sed kasd et</p>
            <h6 class="text-uppercase text-white py-2">Follow Us</h6>
            <div class="d-flex justify-content-start">
                <a class="btn btn-lg btn-primary btn-lg-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-lg btn-primary btn-lg-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-lg btn-primary btn-lg-square" href="/instagram"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-5">
            <h4 class="text-uppercase text-white mb-4">Get In Touch</h4>
            <p>AVAILABLE AT ANY TIME</p>
            <p><i class="fa fa-map-marker-alt text-white mr-2"></i>Tyre, Rachedieh Camp</p>
            <p><i class="fa fa-phone-alt text-white mr-2"></i>+961 81 212 862</p>
            <p><i class="fa fa-envelope text-white mr-2"></i>72130323@students.liu.edu.lb</p>
        </div>
        <div class="col-lg-4 col-md-12 mb-5">
            <h4 class="text-uppercase text-white mb-4">Quick Links</h4>
            <div class="d-flex flex-column justify-content-start">
                <a class="text-white-50 mb-2" href="/"><i class="fa fa-angle-right text-white mr-2"></i>Home</a>
                <a class="text-white-50 mb-2" href="/about"><i class="fa fa-angle-right text-white mr-2"></i>About Us</a>
                <a class="text-white-50 mb-2" href="/services"><i class="fa fa-angle-right text-white mr-2"></i>Our Services</a>
                <a class="text-white-50 mb-2" href="/team"><i class="fa fa-angle-right text-white mr-2"></i>Meet The Team</a>
            </div>
            <br>
            <a href="/edit" class="btn btn-primary text-uppercase py-3 px-5">Edit Now!</a>
        </div>
        
    </div>
</div>