<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{{ url_for('Blur_Humans_btn.index') }}">Blur Humans</a>
    <br>
    <a href="{{ url_for('Blur_Background_btn.index') }}">Blur Background</a>
    <br>
    <a href="{{ url_for('Enhance_btn.index') }}">Enhance Image</a>
    <br>
    <a href="{{ url_for('Crop_btn.index') }}">Crop Image</a>
    <br>
    <a href="{{ url_for('Filters_btn.index') }}">Filters</a>
    <br>
    <a href="{{ url_for('Resize_btn.index') }}">Resize Image</a>
    <br>
    <a href="{{ url_for('Change_Background_btn.index') }}">Change Background</a>
    <br>
</body>
</html>