<div class="container-fluid bg-white position-relative">
    <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0">
        <a href="/" class="navbar-brand text-secondary">
            <img height="100px" width="100px" src="{{ url_for('static', filename='icons/whiteHA.png') }}" alt="">
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ml-auto py-0 pr-3 border-right">
                <a href="/" class="nav-item nav-link">Home</a>
                <a href="/edit" class="nav-item nav-link active">Edit</a>
                <a href="/about" class="nav-item nav-link">About</a>
                <a href="{{ url_for('Model.index') }}" class="nav-item nav-link">Mini-Game</a>
                <a href="/services" class="nav-item nav-link">Services</a>
                <a href="/projects" class="nav-item nav-link">Projects</a>
                <a href="/team" class="nav-item nav-link">Team</a>
            </div>
            <div class="d-none d-lg-flex align-items-center pl-4">
                <i class="fa fa-2x fa-mobile-alt text-primary mr-3"></i>
                <div>
                    <h6 class="text-body text-uppercase mb-1"><small>Call us At</small></h6>
                    <h6 class="m-0">+961 81 212 862</h6>
                </div>
            </div>
        </div>
    </nav>
</div>